[submodule "Tools/Resources"]
	path = Tools/Resources
	url = https://github.com/cake-build/resources.git
[submodule "Tools/GlobalSettings"]
	path = Tools/GlobalSettings
	url = https://github.com/anorisoft/Cake.GlobalSettings.git
